.app {
  text-align: center;
  margin: 0px 20vw;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #a4cce2;
}   

.app > .title {
    padding: 1vh;
    margin: 3px;
    color: lightgray;
    background: #2d2d2d;
    border: 1px #2d2d2d;
    border-radius: 6px;
}